@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    align-items: center;

    height: 100vh;
    margin: 0 480px;

    text-align: center;

    color: white;
    background: 
        repeating-conic-gradient(black 0% 25%, grey 0% 50%),
        linear-gradient(15deg, rgba(255, 0, 0, 0.8) 0%, rgb(15, 15, 25) 33% 66%, rgba(0, 0, 255, 0.8) 100%);
    background-blend-mode: overlay;
    background-size: 96px 96px, cover;
}

main {
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    place-items: center;
    
    height: 100vh;
    padding: 0 48px;

    background-color: rgb(5, 5, 5);
}

h1 {
    background-image: linear-gradient(to right, red, blue);
    font-family: 'Space Grotesk', monospace;
    font-size: 64px;
    letter-spacing: -3px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    letter-spacing: -2px;
}

p {
    font-family: 'Inter', sans-serif;
}

button {
    padding: 12px 24px;
    color: black;
    background-color: whitesmoke;
    border: none;

    text-transform: uppercase;
    letter-spacing: -1px;
    font-family: monospace;

    margin: 12px 0;
}

button:hover {
    background-color: #e5e5e5;
}

.choice-container {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
}